# Configuración con claves de API
config.py

# Datos generados
data/raw/
data/processed/

# Modelos y bases de datos
*.pkl
*.db

# Python
__pycache__/
*.pyc

# Entornos y entorno local
.env

# Sistema
.DS_Store

app_old.py

venv/
.venv/